            <div class="span4">
                <div class="row-fluid">
                    {{ form_label(edit_form.name) }}
                    {{ form_errors(edit_form.name) }}
                    {{ form_widget(edit_form.name) }}
                </div>
                <div class="row-fluid">
                    {{ form_label(edit_form.logo) }}
                    {{ form_errors(edit_form.logo) }}
                    {{ form_widget(edit_form.logo) }}
                </div>
                <div class="row-fluid">
                    {{ form_label(edit_form.title) }}
                    {{ form_errors(edit_form.title) }}
                    {{ form_widget(edit_form.title) }}
                </div>
            </div>

            <div class="span4">
                <div class="row-fluid">
                    {{ form_label(edit_form.email) }}
                    {{ form_errors(edit_form.email) }}
                    {{ form_widget(edit_form.email) }}
                </div>
                <div class="row-fluid">
                    {{ form_label(edit_form.link) }}
                    {{ form_errors(edit_form.link) }}
                    {{ form_widget(edit_form.link) }}
                </div>
                <div class="row-fluid">
                    {{ form_label(edit_form.displayOrder) }}
                    {{ form_errors(edit_form.displayOrder) }}
                    {{ form_widget(edit_form.displayOrder) }}
                </div>
            </div>
            <div class="span8">
                <div class="row-fluid">
                    {{ form_label(edit_form.active) }}
                    {{ form_errors(edit_form.active) }}
                    {{ form_widget(edit_form.active) }}
                </div>
            </div>
            <div class="span8">
                <div class="row-fluid">
                    {{ form_label(edit_form.text) }}
                    {{ form_errors(edit_form.text) }}
                    {{ form_widget(edit_form.text) }}
                </div>
            </div>
