{% extends '::base.html.twig' %}

{% block body -%}

    {% include 'DevsparkVentureJuiceBundle:Default:nav.html.twig' with {'nav': 'companies'} %}

    <h1>Company list</h1>

    <table class="records_list table-striped" cellpadding="10">
        <thead>
            <tr>
                <th>Order</th>
                <th>Logo</th>
                <th>Link</th>
                <th>Title</th>
                <th>Text</th>
                <th>Email</th>
                <th>Sent</th>
                <th>Active</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for entity in entities %}
            <tr>
                <td>{{ entity.displayOrder }}</td>
                {% if entity.logo is not null %}
                <td> <img src="{{ entity.getWebPath | apply_filter('widen') }}" /> </td>
                {% endif %}
                <td>{{ entity.link |slice(0,20)}}</td>
                <td>{{ entity.title |slice(0,20)}}</td>
                <td>{{ entity.text | slice(0,280) | raw}}</td>
                <td>{{ entity.email |slice(0,20)}}</td>
                <td>{{ entity.introSent }}</td>
                <td>{{ entity.active }}</td>
                <td>
                <ul>
                    <li>
                        <a href="{{ path('company_show', { 'id': entity.id }) }}">show</a>
                    </li>
                    <li>
                        <a href="{{ path('company_edit', { 'id': entity.id }) }}">edit</a>
                    </li>
                </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
        <ul>
        <li>
            <a href="{{ path('company_new') }}">
                Create a new entry
            </a>
        </li>
    </ul>
    {% endblock %}
