
<div dir="ltr">
    <div class="gmail_quote" style="font-family:arial,sans-serif;font-size:13px">
        <table>
            <tbody>
            <tr>
                <td style="padding-bottom:15px;">
                    {{company.name}},
                </td>
            </tr>
            <tr>
                <td style="padding-bottom:15px;">
                    {{client.name}} (copied) wanted to meet you. <br/>
                </td>
            </tr>
            <tr>
                <td>
                    Here's a bit about {{client.name}}:
                </td>
            </tr>
            <tr>
                <td style="padding-bottom:15px;">
                <blockquote class="gmail_quote" style="margin:0px 0px 0px 0.8ex;border-left-width:1px;border-left-color:rgb(204,204,204);border-left-style:solid;padding-left:1ex">
                <table>
                <tr>
                    <td>Name:</td>
                    <td>{{client.name}}</td>
                </tr>
                <tr>
                    <td>Company:</td>
                    <td>{{client.company}}</td>
                </tr>
                <tr>
                    <td>Website:</td>
                    <td>{{client.website}}</td>
                </tr>
                <tr>
                    <td>Email:</td>
                    <td>{{client.email}}</td>
                </tr>
                </table>
                </blockquote>

                </td>
            </tr>
            <tr>
                <td style="padding-bottom:10px;">Have fun.</td>
            </tr>
            <tr>
                <td>
                    Love,<br/>
                    Venture Juice
                </td>
            </tr>
            <tr>
                <td>
                    <i>Powered by <a href="http://www.interplay.vc" target="_blank">Interplay</a></i>
                </td>
            </tr>
            </tbody>

        </table>
    </div>
</div>
